
.emailList{
    flex:1;
    overflow: scroll;
}

.emailList_settings{
    position: sticky;
    top:0;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid whitesmoke;
    background-color:white;
    z-index: 999;
    padding-right: 10px;
}

.emailList_sections{
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList {
    padding-bottom: 20%;
}

.emailList::-webkit-scrollbar {
    display: none;
}
.icons {
    display: inline-block;
    margin: none;
    padding: none;
}

.emailList_settingsRight {
    display: flex;
}

.icon1 {
    display: inline-block;
}


@media screen and (max-width: 420px){
    .icons {
        display: none;
    }
}